@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
@keyframes colorCycle {
    0%,55%{
        filter: brightness(0) invert(1);
    }   
    11%, 33%{
        filter: none;
    }    
}

@keyframes colorCycleReverse {
    0%{
        filter: brightness(0) invert(1);
        filter: none;
    }
    22%{
        filter: brightness(0) invert(1);
    } 
    100%{
        filter: brightness(0) invert(1);
        filter: none;
    }   
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    transition: 1s;
}

body{
    background: #000;
}

a{
    text-decoration: none;
}

.wrapper{
    height: 100%;
    position: absolute;
    width: 100%;
}

.header{
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_middle-ul{    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    text-align: center;
    list-style: none;
}

a:-webkit-any-link:focus-visible {
    outline:none;
}

.a-bold:hover{
    transition: ease-in 0.27s;
    font-weight: 700;
}

.a-bold{
    color: #bdbdbd;
    font-size: 0.8rem;
    font-weight: 200;
}

.container{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1{
    text-align: -webkit-center;
}

#h1-span{
    font-size: 5.0rem;
    background: linear-gradient(to right, #0082ef 1%,#00cedd 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(0) invert(1);
    animation: colorCycle 9s cubic-bezier(1,-0.04, 0.5, 0.91) infinite;
    letter-spacing: -0.1rem;
}

.description{
    font-weight: 400;
    font-size: 0.9rem;
    background: linear-gradient(to right, #ff4d4d 1%,#f9cb29 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(0) invert(1);
    animation: colorCycleReverse 9s cubic-bezier(0.21, -0.28, 0.5, 0.91)  infinite;
}
.header_rigth-img{
    display: none;
}

.section-one{
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

#section_one-p {
    font-size: 0.65rem;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
}

.align-item-left{
    align-items: end;
}
.align-item-right{
    align-items: flex-start;
}

.section-one-div {
    width: 60%;
    height: 13em;
    border-radius: 20.438px;
    display: flex;
    flex-direction: row;
}
.section-one-div:hover{
    filter: hue-rotate(15deg);
}
.purple{
    background: linear-gradient(180deg, #6800EA 0%, #6C00AE 100%);
}
.red{
    background: linear-gradient(180deg, #EA5151 0%, #C72B2B 100%);
}
.blue{
    background: linear-gradient(180deg, #51B3EA 0%, #2B57C7 100%);
}
.green{
    background: linear-gradient(180deg, #36b740 0%, #06480d 100%);
}
.section-one-div-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: space-evenly;
    color: white;
    padding: 1em 2em;
    width: 55%;
}
.section-one-div-img{
    width: 40%;
    border-radius: inherit;
    background-repeat: no-repeat;
    background-position-y: initial;
    background-size: 125%;
    background-position-x: left;
}
.section-one-div-img:hover{
    background-size: 155%;
}
.img1{
    background-image: url('../img/backgrounds/topview.png');
}
.img2{
    background-image: url('../img/backgrounds/calculaae.png');
}
.img3{
    background-image: url('../img/backgrounds/casco.png');
}

.section-one-div-div-a{
    text-decoration: none;
    color: #bdbdbd;
    font-size: smaller;
    font-weight: 700;
}
.section-one-div-div-h1{
    margin: 0;
}


.section-one-div-div-p{
    margin: 0;
    font-size: smaller;
    color: #FFFFFF99;
}

.section_two-div{
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
#section_two-twodiv{
    width: 45%;
}

#section-two-div-img_one{
    margin-bottom: 7.5em;
    padding-left: 6em;
    width: 21em;

}

#section_two-div-img_two{
    vertical-align: text-bottom;
    width: 100%;
}

#section_two-thirddiv{
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
}
.section_two-div-li-p{
    font-weight: 300;
    align-self: center;
    font-size: smaller;
}

.img_icon-redesocial{
    width: 19.19px;
    height: 19.19px;
}

.section_two-div-li-a{
    display: flex;
    gap: 0.3em;
    color: white;
    margin-bottom: 12px;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}
.section_two-div-li-a-div{
    display: flex;
    justify-content: center;
    width: 2em;
}

.section_two{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;
    align-items: end;
    margin-top: 3em;
}

.section_two_div-h1{
    font-size: 500%;
    line-height: 0.9em;
    font-weight: 800;
    margin-bottom: 0.15em;
}
.section_two_div-p-date,.section_two_div-p-t1{
    font-weight: 300;
}

.section_two_div-p-t1,#section_three-p{
    font-size: smaller;
}
.section_two_div-span{
    font-weight: 500;
}
.img_perfil{
    background-image: url('../img/Neemias.png');
    width: 45%;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 80%;
}

.section_two_div {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 7em;
    margin-right: -4em;
}

.section_three{
    width: 100%;
    height: 50%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
}
#section_three-p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37%;
    text-align: center;
    font-size: smaller;
}

.section_four{
    text-align: center;
    color: white;
    height: 80%;
    margin-top: 0em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.section_four_div-h1{
    font-weight: 100;
    font-size: xxx-large;
    color: #fff;
}

.section_four_div-email{
    font-weight: 100;
    font-size: xx-large;
    color: #FFFFFF80;
}
.section_four_div-email:hover{
    font-weight: 100;
    font-size: xx-large;
    color: #FFFF;
}

.footer{
    text-align: center;
    color: white;
    height: 20%;
    margin-top: 0em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8em;
}

.footer_p{
    color: #FFFFFF80;
    font-size: small;
    font-weight: 500;
} 
.footer_div{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.footer_div-p{
    color: white;
    font-weight: 600;
    font-size: smaller;
    letter-spacing: 1px;
}
