@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');
@keyframes colorCycle {
    0%,55%{
        filter: brightness(0) invert(1);
    }   
    11%, 33%{
        filter: none;
    }    
}

@keyframes colorCycleReverse {
    0%{
        filter: brightness(0) invert(1);
        filter: none;
    }
    22%{
        filter: brightness(0) invert(1);
    } 
    100%{
        filter: brightness(0) invert(1);
        filter: none;
    }   
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    transition: 1s;
}

body{
    background: #000;
}

a{
    text-decoration: none;
}

.wrapper{
    height: 100%;
    position: absolute;
    width: 100%;
}

.header{
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header_middle-ul{    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    text-align: center;
    list-style: none;
}

a:-webkit-any-link:focus-visible {
    outline:none;
}

.a-bold:hover{
    transition: ease-in 0.27s;
    font-weight: 700;
}

.a-bold{
    color: #bdbdbd;
    font-size: 0.8rem;
    font-weight: 200;
}

.container{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1{
    text-align: -webkit-center;
}

#h1-span{
    font-size: 5.0rem;
    background: linear-gradient(to right, #0082ef 1%,#00cedd 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(0) invert(1);
    animation: colorCycle 9s cubic-bezier(1,-0.04, 0.5, 0.91) infinite;
    letter-spacing: -0.1rem;
}

.description{
    font-weight: 400;
    font-size: 0.9rem;
    background: linear-gradient(to right, #ff4d4d 1%,#f9cb29 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(0) invert(1);
    animation: colorCycleReverse 9s cubic-bezier(0.21, -0.28, 0.5, 0.91)  infinite;
}
.header_rigth-img{
    display: none;
}

.section-one{
    text-align: center;
    color:white;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    
}

#section_one-p{
    font-size: 0.65rem;
    letter-spacing: 3.4px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6em;
}

#cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 1em;

}
.cards_element{
    width: 14em;
    height: 8em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    
}
.cards_element-text{
    padding-left: 1em;
    text-align: initial;    
}
.card_element-text-p{
    font-weight: 300;
    font-size: small;
}

.card_element-text-h3{
    font-size: x-large;
}

.background-blue{
    background: linear-gradient(180deg, #305CCD -5%, rgba(0, 0, 0, 0) 80.34%);
}
.background-blue:hover{
    background: linear-gradient(180deg, #4674e8 -5%, rgba(0, 0, 0, 0) 80.34%);   
}
.background-red{
    background: linear-gradient(180deg, #CD4330 -5%, rgba(0, 0, 0, 0) 80.34%);
}
.background-red:hover{
    background: linear-gradient(180deg, #e25441 -5%, rgba(0, 0, 0, 0) 80.34%);
}

.background-purple{
    background: linear-gradient(180deg, #6230CD -5%, rgba(0, 0, 0, 0) 80.34%);
}
.background-purple:hover{
    background: linear-gradient(180deg, #723de4 -5%, rgba(0, 0, 0, 0) 80.34%);
}

.background-green{
    background: linear-gradient(180deg, #127C5C -5%, rgba(0, 0, 0, 0) 80.34%);
}
.background-green:hover{
    background: linear-gradient(180deg, #25ac84 -5%, rgba(0, 0, 0, 0) 80.34%);
}


#section_one-seconddiv{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 4em;
}

.section_one-seconddiv-div{
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 75%;
}

.section_one-seconddiv-div-text{
    width: 29em;
    text-align: left;
}
.section_one-seconddiv-div-text-h1{
    font-size: x-large;
    margin-bottom: 0.3em;
}
.section_one-seconddiv-div-text-p{
    font-weight:400;
}
#screen-casco{
    width: 30em;
}

#casco{
    display: flex;
}

.align-item-left{
    align-items: end;
}
.align-item-right{
    align-items: flex-start;
}

.section_one-seconddiv-container{
    /* display: flex; */
    display: none;
}
.section_two-div{
    width: 25%;
    display: flex;
    justify-content: flex-start;
}
#section_two-twodiv{
    width: 45%;
}

#section-two-div-img_one{
    margin-bottom: 7.5em;
    padding-left: 6em;
    width: 21em;

}

#section_two-div-img_two{
    vertical-align: text-bottom;
    width: 100%;
}

#section_two-thirddiv{
    margin-bottom: 5em;
    display: flex;
    justify-content: space-around;
}
.section_two-div-li-p{
    font-weight: 300;
    align-self: center;
    font-size: smaller;
}

.img_icon-redesocial{
    width: 19.19px;
    height: 19.19px;
}

.section_two-div-li-a{
    display: flex;
    gap: 0.3em;
    color: white;
    margin-bottom: 12px;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}
.section_two-div-li-a-div{
    display: flex;
    justify-content: center;
    width: 2em;
}

.section_two{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}

.section_three{
    width: 100%;
    height: 50%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
}
#section_three-p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37%;
    text-align: center;
    font-size: smaller;
}

.footer{
    text-align: center;
    color: white;
    height: 30em;
    margin-top: 0em;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.footer_h1{
    font-weight: 100;
    font-size: xxx-large;
}